/* Popup container */
#popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1000;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  

  
  /* Popup content */
  .popup-content {
    background: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: fixed;
    z-index: 1000;
    justify-content: center;
    left: auto;
    top: auto;
    width: 81%;
    min-height: 70%;

  }

  .popup-overlay {
    width: 100%;
    z-index: 9999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:fixed;
    height:80%;
    flex-direction: row;
    flex-wrap: wrap;
   
  }
  
  .popup.show {
    opacity: 1;
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .task-list {
    margin-top: 20px;
    padding:10px
  }